# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
src/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
out/

# Env files
.env

# ASCIIDoc artifact
README.html

# Dataset files
data/**/*.csv
data/tmp/alire/*
!data/tmp/alire/.gitkeep
data/tmp/conan/*
!data/tmp/conan/.gitkeep
!data/tmp/cargo/.gitkeep
data/tmp/cargo/*
!data/tmp/chromebrew/.gitkeep
!data/tmp/chromebrew/*

data/tmp/nimble/*


!data/out/cargo/.gitkeep
data/out/cargo/*

*.zip
data/out/dasea_*
data/*.tar.bz2

dist

# OS files
.DS_Store

# VS Code configuration
.vscode/
__pycache__/
*.pyc

.vagrant/

# JetBrains IDEs
.idea/

# Chromebrew local files
./dasea/chromebrew/tmp/
